
<mat-drawer-container class="example-container">
    <div class="">
        <button type="button" mat-button (click)="drawer.toggle()">
          ☰
        </button>
      </div>
    <mat-drawer #drawer class="sidebar.collapsed sidebar" mode="side">
              <mat-list>
                <mat-list-item class="btn" routerLink="/inicio">
                  <span class="material-icons">home</span> 
                  <span>INICIO</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="btn button" routerLink="/usuarios/listar">
                  <span class="material-icons">people</span> Usuarios
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
    </mat-drawer>
  
 
  </mat-drawer-container>

