<div class="row">
    <div>
        <mat-card class="card">
            <mat-card-header>
            </mat-card-header>
          <div class="container">
            <mat-card-content class="card-contenido">
                <mat-list>
                    <mat-list-item role="listitem" class="lista-btn" routerLink="/inicio">
                        <span class="material-icons">
                            home
                        </span>Inicio</mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn" routerLink="/usuarios/listar">
                        <span class="material-icons">
                            people
                            </span>    Usuarios
                    </mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn">Inicio</mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn">Inicio</mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn">Inicio</mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn">Inicio</mat-list-item>
                    <mat-list-item role="listitem" class="lista-btn">Inicio</mat-list-item>

                </mat-list>
                
            </mat-card-content>
          </div>
        </mat-card>
    </div>

   </div>




