.card{
    margin: 10px 10px ;
    padding: 10px;
    background-color: rgb(234, 234, 234);
}

.card-contenido{
    background-color: rgb(255, 255, 255);
}
.card-titulo{
    padding: 10px;

    
}
.lista-btn{
    text-align: left;
    background-color: aqua;


}
.lista-btn:hover{
    background-color: rgb(202, 208, 208);
}

